<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <button onclick="googleEnquiry()">Google Share Enquiry</button>
        <script>
            function googleEnquiry(){
                windows.open("https://1d8658a87242dd951a.gradio.live/","_blank");
            }
        </script>
        <form action="/main" method="post">
            <input type = "submit" value = "main">
        </form>
    </div>
</body>


